@import '~office-ui-fabric-react/dist/sass/References.scss';
@import "~react-big-calendar/lib/css/react-big-calendar.css";
@import '~office-ui-fabric-core/dist/sass/References';

@import '../../../styles/font';

.reactCalendario {

  .font {
    font-family: "The Mix" !important;
    
    
  }

  .center{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  red;
    border: 1px solid green;
    width: 100%;
  }


  .container {
    margin: 0px auto;
  }

  .row {
    @include ms-Grid-row;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg12;
    @include ms-xl12;
  }



  
}
