
@font-face {
  font-family: 'The Mix Semi Bold';
  src: url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixSemiBold-Plain/TheMixSemiBold-Plain.eot');
  src: url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixSemiBold-Plain/TheMixSemiBold-Plain.eot?#iefix') format('embedded-opentype'),
      url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixSemiBold-Plain/TheMixSemiBold-Plain.woff2') format('woff2'),
      url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixSemiBold-Plain/TheMixSemiBold-Plain.woff') format('woff'),
      url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixSemiBold-Plain/TheMixSemiBold-Plain.ttf') format('truetype'),
      url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixSemiBold-Plain/TheMixSemiBold-Plain.svg#TheMixSemiBold-Plain') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'The Mix Extra Bold';
  src: url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixExtraBold-Plain/TheMixExtraBold-Plain.eot');
  src: url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixExtraBold-Plain/TheMixExtraBold-Plain.eot?#iefix') format('embedded-opentype'),
      url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixExtraBold-Plain/TheMixExtraBold-Plain.woff2') format('woff2'),
      url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixExtraBold-Plain/TheMixExtraBold-Plain.woff') format('woff'),
      url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixExtraBold-Plain/TheMixExtraBold-Plain.ttf') format('truetype'),
      url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixExtraBold-Plain/TheMixExtraBold-Plain.svg#TheMixExtraBold-Plain') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'The Mix Bold';
  src: url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixBold-Plain/TheMixBold-Plain.eot');
  src: url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixBold-Plain/TheMixBold-Plain.eot?#iefix') format('embedded-opentype'),
      url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixBold-Plain/TheMixBold-Plain.woff2') format('woff2'),
      url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixBold-Plain/TheMixBold-Plain.woff') format('woff'),
      url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixBold-Plain/TheMixBold-Plain.ttf') format('truetype'),
      url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixBold-Plain/TheMixBold-Plain.svg#TheMixBold-Plain') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'The Mix Light';
  src: url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixLight-Plain/TheMixLight-Plain.eot');
  src: url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixLight-Plain/TheMixLight-Plain.eot?#iefix') format('embedded-opentype'),
      url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixLight-Plain/TheMixLight-Plain.woff2') format('woff2'),
      url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixLight-Plain/TheMixLight-Plain.woff') format('woff'),
      url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixLight-Plain/TheMixLight-Plain.ttf') format('truetype'),
      url('/sites/catalogoapp/AppCatalog/fonts/intranet/TheMixLight-Plain/TheMixLight-Plain.svg#TheMixLight-Plain') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


.font-normal {
  font-family: "The Mix Light" !important;
}

.font-content {  
  font-family: "The Mix Semi Bold" !important;
}

.font-title {
  font-family: "The Mix Extra Bold" !important;
}

.title{
  font-family: "The Mix Semi Bold" !important;
}

.content{
  font-family: "The Mix Semi Bold" !important;
}

.subTitle {
  font-family: "The Mix Semi Bold" !important;
}


.normal{
  font-family: "The Mix Light" !important;
}


/*
  Holerite
*/

.fundo-cinza{
  background-color: #dddddd !important;
  -webkit-print-color-adjust: exact;
}

.onlyprint{
  display:none;	
}



@media print
         {
         body {-webkit-print-color-adjust: exact;}

         .noprint {
         	display: none !important;
         }

         .fundo-cinza{
	         background-color: #dddddd !important;
	         -webkit-print-color-adjust: exact;
         }

         .onlyprint{
         	display:block;	
         }

         .print {
	         /*position: fixed !important;*/
	         left: 0 !important;
	         top: 0 !important;
	         /*padding: 20px 0px !important;
	         margin-left:  -30px !important;
	         margin-right:  -30px !important;
	         width: auto;*/
         }

         nav {
         	display: none !important;
         }
    	}

