@import '~office-ui-fabric-react/dist/sass/References.scss';
@import '~office-ui-fabric-core/dist/sass/References';

.reactNews {
  
  
  .container {
    margin: 0px auto;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
  }

  .column12 {
    @include ms-Grid-col;
    @include ms-lg12;
    @include ms-xl12;

    max-width: 100%;
  }
  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .center{
    text-align: center;
  }
  
}
